html, body {
    background: #eee;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #555;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    .back {
        position: absolute;
        left: 15px;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        width: 24px;
        height: 24px;
    }
}

main {
    margin-top: 50px;
    padding: 10px;
    min-height: calc(100vh - 100px);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 16px;
    height: 30px;
    a {
        color: #999;
    }
}