html, body {
    background: #eee;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #555;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    position: relative;
    .back {
        position: absolute;
        left: 15px;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        width: 24px;
        height: 24px;
    }
}

main {
    padding: 10px;
    height: calc(100vh - 100px);
    a {
        display: block;
        text-decoration: none;
        width: fit-content;
        div {
            background: #ddd;
            color: #000;
            border: 1px solid #000;
            border-radius: 8px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            width: auto;
            &:hover {
                background: #ccc;
            }
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 16px;
    height: 30px;
    a {
        color: #999;
    }
}